<nav>
    <div class="container">
        <div class="content">
            <h2 class="logo">E_COMMERCE</h2>
                <ul>
                    <li routerLink="/">Products</li>
                    <li routerLink="/cart">
                        <fa-icon [icon]="cofe"></fa-icon>
                        <div *ngIf="cartProduct && cartProduct.length > 0">
                            <span>{{cartProduct.length}}</span>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</nav>
