<div class="box mt-5">

    <div class="row">

        <div class="col-md-3 col-sm-12">
            <div class=" item">
    
                <img sre="test" alt="">
                 <div class="body">
                    <h4>some Title </h4> 
                     <p>Test Add Description</p>
           
                  </div>
        
            <div class="px-3 wb-2 4-flew justify-content-between allgn-items-center">
                <button class="btn btn-success">Add To
                    Cart</button>
                    <span>50 L.E</span>
        
            </div>  
        
            </div>
        
    
        </div>
        
    
    </div>
</div>

