<div class="box mt-5">
    <!-- box of filter -->
    <div class="my-2 w-25">
        <!-- child of select component -->
        <app-select [data]="categories" [title]="'categories:'" (selectedValue)="filterCategory($event)"></app-select>
    </div>
    <!-- card of product -->
    <!-- condition when req attend show spinner => loading =false -->
    <div class="row" *ngIf="!loading">
        <!-- loop in array product avec ngFor -->
        <div class="col-md-3 col-sm-12" *ngFor="let item of products" routerLink="/details/{{item.id}}">
            <!-- child of product component -->
            <app-product [data]="item" (item)="addToCart($event)"></app-product>
        </div>
    </div>
    <!-- loading true -->
    <div class="text-center w-100" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
</div>