<div class="cartbox">

    <h1 class="text-danger">Shopping Cart</h1>

    <div class="headCart">

        <p class="load">You have <label class="text-danger ">2</label> item in your cart</p>

        <span class="text-danger card-header">Clear Shopping Cart</span>

    </div>
    <table class="table table-striped">

        <thead>

            <tr>

                <th></th>

                <th>Name</th>

                <th>Price</th>

                <th style="width: 25%;">Quantity</th>

                <th>Totle</th>
                <th></th>

            </tr>

        </thead> 
        <tbody>
            <tr *ngFor="let item of cartProduct">

                <td><img src="{{item.item.image}}" alt=""></td>
    
                <td> {{item.item.title}}</td>
    
                <td>{{item.item.price}} DT</td>
    
                <td>
    
                    <div class="quantity">
    
                    <button class="btn btn-dark">+</button>
    
                    <input class="form-control" type="number" min="1" [(ngModel)]="item.quantity">
                    <button class="btn btn-dark">-</button>
                    </div>
                </td>
                <td>{{item.item.price * item.quantity}} DT</td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>total: 1500 DT</th>
                <th><button class="btn btn-success"> A la caisse</button></th>

            </tr>
        </tfoot>
    </table>
</div>
<div class="alert alert-success" role="alert"><strong>Well done!</strong></div>

       